@use 'index';
@use 'contacto';
@use 'sucursales';

@media (max-width:900px) {
    .menuContainer{
        display: block;
        text-align: center;
    }
    .menuContainer li{
        margin: 10px 10px;
    }
}



